@font-face {
    font-family: 'Poppins-semibold';
    src: url('../fonts/Poppins-SemiBold.woff') format('woff2'),
        url('../fonts/Poppins-SemiBold.woff2') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-regular';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-bold';
    src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.font-bold
{
    font-family: 'Poppins-bold';
}
.font-semibold
{
    font-family: 'Poppins-semibold';
}
.font-regular
{
    font-family: 'Poppins-regular';
}
.font-10 {
    font-size: 10px;
}
.font-12 {
    font-size: 12px;
}
.font-13 {
    font-size: 13px;
}
.font-14 {
    font-size: 14px;
}
.font-15 {
    font-size: 15px;
}
.font-16 {
    font-size: 16px;
}
.font-18 {
    font-size: 18px;
}
.font-20 {
    font-size: 20px;
}
.font-22 {
    font-size: 22px;
}
.font-24 {
    font-size: 24px;
}
.font-32 {
    font-size: 32px;
}
.font-40 {
    font-size: 40px;
}
.font-52 {
    font-size: 52px;
}

